.card_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
}

.card_container h1 {
  color: navy;
  font-family: "Oranienbaum", serif;
  user-select: none;
}

.mojito_img img {
  width: auto;
  max-width: 100%;
}

.text_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.text_container h3 {
  color: navy;
  font-size: 1.2rem;
  user-select: none;
}

@media (max-width: 300px) {
  .card_container h1 {
    font-size: 1rem;
  }

  .text_container h3 {
    font-size: 13px;
  }
}
