.btn {
  padding: 7px 15px;
  border: none;
  outline: none;
  border-radius: 15px;
  background-color: navy;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@media(max-width: 300px) {
  .btn {
    padding: 5px 10px;
    font-size: 10px;
  }
}